<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ProductParameterMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.ProductParameter" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="ORDERS" property="orders" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PARAMETER_GROUP" property="parameterGroup" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_DATE, MODIFY_DATE, ORDERS, NAME, PARAMETER_GROUP
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from XX_PARAMETER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from XX_PARAMETER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jk.model.ProductParameter" >
    insert into XX_PARAMETER (ID, CREATE_DATE, MODIFY_DATE, 
      ORDERS, NAME, PARAMETER_GROUP
      )
    values (#{id,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{orders,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{parameterGroup,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.ProductParameter" >
    insert into XX_PARAMETER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
      <if test="orders != null" >
        ORDERS,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="parameterGroup != null" >
        PARAMETER_GROUP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parameterGroup != null" >
        #{parameterGroup,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.ProductParameter" >
    update XX_PARAMETER
    <set >
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        ORDERS = #{orders,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parameterGroup != null" >
        PARAMETER_GROUP = #{parameterGroup,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.ProductParameter" >
    update XX_PARAMETER
    set CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      ORDERS = #{orders,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      PARAMETER_GROUP = #{parameterGroup,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <!-- 查询商品参数列表-->
  <select id="queryProductParameter" resultMap="BaseResultMap">
    SELECT * FROM xx_parameter
  </select>
</mapper>