<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
		http://cxf.apache.org/jaxws 
		http://cxf.apache.org/schemas/jaxws.xsd 
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"  default-autowire="byName">
    
     <!-- 消费方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用调用的,保持唯一性 -->  
     <dubbo:application name="shop-backstage-consumer"  />
       
     <!-- 使用zookeeper注册中心发现暴露的服务地址 -->    
     <dubbo:registry address="zookeeper://127.0.0.1:2181" />     
       
     <!-- 生成远程服务代理，可以和本地bean一样使用demoService，该interface需要与服务端暴露的服务interface保持一致，该id已注入Spring -->    
	 <dubbo:reference id="treeService" interface="com.jk.service.ITreeService" />
	 <dubbo:reference id="specificationService" interface="com.jk.service.ISpecificationService" />
	<dubbo:reference id="peisongService" interface="com.jk.service.PeisongService" />
	<dubbo:reference id="zhifuService" interface="com.jk.service.ZhifuService" />
	<dubbo:reference id="delicoService" interface="com.jk.service.DelicoService" />
	<dubbo:reference id="orderService" interface="com.jk.service.OrderService" />
	<dubbo:reference id="refundsService" interface="com.jk.service.RefundsService" />
	<dubbo:reference id="depositService" interface="com.jk.service.DepositService" />
	<dubbo:reference id="shippingService" interface="com.jk.service.ShippingService" />
	<dubbo:reference id="deliverytemplateService" interface="com.jk.service.IDeliverytemplateService" />
	<dubbo:reference id="deliverycenterService" interface="com.jk.service.IDeliverycenterService" />
	<dubbo:reference id="areaService" interface="com.jk.service.IAreaService" />
	<dubbo:reference id="shopservice" interface="com.jk.service.ShopService" />
	<dubbo:reference id="hyzcservice" interface="com.jk.service.HyzcService" />
	<dubbo:reference id="paymentService" interface="com.jk.service.PaymentService" />
	<dubbo:reference id="adminService" interface="com.jk.service.AdminService" />
	<dubbo:reference id="roleService" interface="com.jk.service.RoleService" />
	<dubbo:reference id="productService" interface="com.jk.service.ProductService" />
	<dubbo:reference id="productCateguryService" interface="com.jk.service.ProductCateguryService" />
	<dubbo:reference id="productParameterService" interface="com.jk.service.ProductParameterService" />
	<dubbo:reference id="productAttributeService" interface="com.jk.service.ProductAttributeService" />
	<dubbo:reference id="productParameterGroupService" interface="com.jk.service.ProductParameterGroupService" />
</beans>